/* *{
    border: 1px solid black;
    font-family: 'Abel', 'sans-serif';
  }
   */

/*-
https://codepen.io/fgregorydfw/pen/XBKVwg
Got toggle functions and jquery code from this code pen to add hamburger menu into my site
-I would like to implement a similiar design for my hamburger menu. This one is responsive to screen size
*/

html {
  scroll-behavior: smooth;
}

.split{
  height:50px;
  width:100%;
  background: white;
  border-top: 2px solid #F59817;
  border-bottom: 2px solid #8B1D06;
  grid-area:split;
}
.desktop{
  display:none;
}


h1{
    width:50%;
    text-align:center;
    letter-spacing: 4px;
   
  }
  
  .container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  
  
  header::after {
    content: '';
    clear: both;
    display: block;
  }
  
  .logo {
    float: left;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .logo span {
    font-weight: 400;
  }
  
  .site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #8B1D06;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
  /*   display: none; */
  }
  
  .site-nav--open {
    clip-path: circle(250% at top right);
  /*   display: block; */
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color:white;
  }
  
  .site-nav li {
    border-bottom: 1px solid white;
    colr:black;
  }
  
  .site-nav li:last-child {
    border-bottom: none;
  }
  
  .site-nav a {
    color: black;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .site-nav a:hover,
  .site-nav a:focus {
    background: #F59817;
    color: #dddddd;
  }
  
  .site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    
  }
  
  .menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
  }
  /*Deals with hamburger transition points when expanding */
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  .open .hamburger {
    transform: rotate(45deg);
  }
  
  .open .hamburger::before {
    opacity: 0;
  }
  
  .open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  /*End of hamburger menu styling */
  
  














  /*Grid Layout*/
  header {
    grid-area:header;
    background: white;
    border-top: 2px solid #F59817;
    border-bottom: 2px solid #8B1D06;
    padding: 1em 0;
    position: fixed;
    font-family: 'Abel', sans-serif;
    width:100%;
  }
  













  body {
    
    font-family: 'Abel', sans-serif;
    height:1000px;
  /*   border: 1px solid; */
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat( 1fr)auto;
    grid-template-rows:auto repeat(6fr)  auto ;
  grid-template-areas:
    "header"
    "main"
    "split"
    "section2"
    
    "article"
    "footer";
    
  }
  
  /* ul{
   display: flex;
    width: 100%;
    letter-spacing:3px;
     
  }
  
  li{
    align-items: space-between;
    width:25%;
    list-style:none;
  }
  
  
  .head{
    width:100%;
    height:2px;
    background-color: #FDA22E;
    
  }
  nav{
    margin: auto 0;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    letter-spacing:6px;
    
  }
  h1{
    width:100%;
    text-align:center;
   
  } */

  h2:last-of-type{
      display:none;
  }


  form {
    display:flex;
    flex-direction:column;
    width: 60%;
    justify-content:center;
    align-items:center;
    border:1px solid #cccccc;
    box-shadow: 1px 1px 1px 1px #cccccc;
    border-radius:3px;
  }
  
  button{
    width:60%;
    height:40px;
    display:flex;
    justify-content:center;
    font-size: 18px;
   
    background-color:#B4B990;
    border:none;
  }
  
  article {
    display:flex;
    justify-content:center;
    
  }
  
  input{
    margin:15px;
    height:20px;
    width:60%;
  }
  
  .textbox{
    height:150px;
    
  }



  /*Grid Layout*/
  /* header {
    grid-area:header;
   
  } */
  
  aside{
    background-color:rgba(255,255,255, 0.8);
    margin:35px;
    padding:15px;
    height:300px;
  }
  
  a{
    text-decoration:none;
    link-style:none;
    
  }
  
  
  main{
    grid-area: main;
    background-image:url('https://res.cloudinary.com/jferson1089/image/upload/v1583656267/Screen_Shot_2020-03-08_at_4.30.06_AM_srr5j3.png');
    background-size:cover;
    background-repeat:no-repeat;
    height:500px;
    margin-top:75px;
  }


  section {
      display:none;
  }

.section1{
    grid-area:section1; 
    align-items:center;
   
   
  }
.slideshow-container{
    grid-area:section2;
    

  }
article{
    grid-area:article;
  }
footer{
    grid-area:footer;
    border-top: 2px solid #8B1D06;
    border-bottom: 2px solid #F59817;
  }
  
  
  
  /* Desktop Media Query*/
  
  @media (min-width: 1024px){
  body {
    height:1000px;
  /*   border: 1px solid; */
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr) auto ;
    grid-template-rows: auto repeat(5, 1fr) auto ;
  grid-template-areas:
    "header header"
    "main main"
    "section1 section1"
    "article article"
    "footer footer";
  }
  
  .desktop {
    color:red;
    display:inline-block;
    
  }


    nav{
      display:flex;
     margin: auto 0;
      flex-wrap:nowrap;
      
    }

footer{
  margin-bottom: 50px;
}

    h1{
      width:30%;
      text-align:left;
     
    }
  
    .slideshow-container{
        display:none;
    }

    li{
      width:25%;
      text-align:right;
    
      
    }

    article{
        height: 35%;
        
    }
    ul{
      display:flex;
      width:100%;
    }
    main{
    background-position:center;
    background-size:cover;
    height: 500px;
      display:flex;
      justify-content:flex-end;
    }
  
    aside{
      flex-direction:right;
      width:400px;
    }
    
    /*Grid Layout for projects */
  h2{
    letter-spacing:3px;
    text-align:center;
  }
  
  section{
    margin-left:75px;
  display:grid;
    grid-gap: 5px;
    grid-template-columns:auto repeat(4fr) auto;
    grid-template-rows:auto repeat(2fr) auto;
  grid-template-areas:
    "top1  top2  top3 top4"
    'bottom1 bottom2 bottom3 bottom4';
    
  }

  

  p{
    font-size:16px;
  }
  
  
  .imageContainer{
   background-color:#ffffff;
    width:150px;
    height:175px;
    padding-bottom:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:5px;
    box-shadow: 1px 1px 1px 1px #cccccc;
    border-radius:5px;

    
  
  }
  
  .imageContainer:hover {
    -ms-transform: scale(1.75); /* IE 9 */
    -webkit-transform: scale(1.75); /* Safari 3-8 */
    transform: scale(1.75); 
    
  }
  
  .imageContainer:nth-child(1){
    grid-area:top1;
  }
  .imageContainer:nth-child(2){
    grid-area:top2;
  }
  .imageContainer:nth-child(3){
    grid-area:top3;
  }
  .imageContainer:nth-child(4){
    grid-area:top4;
  }
  .imageContainer:nth-child(5){
    grid-area:bottom1;
  }
  .imageContainer:nth-child(6){
    grid-area:bottom2;
  }
  .imageContainer:nth-child(7){
    grid-area:bottom3;
  }
  .imageContainer:nth-child(8){
    grid-area:bottom4;
  }







    /*Hamburger Styling */
    .menu-toggle {
        display: none;
      }
      
      .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
      }
      
      .site-nav li {
        display: inline-block;
        border: none;
      }
      
      .site-nav a {
        padding: 0;
        margin-left: 3em;
      }
      
      .site-nav a:hover,
      .site-nav a:focus {
        background: transparent;
      }
      
      .site-nav--icon {
        display: none;
      }

      h2:last-of-type{
       display:grid;
       margin: -5px;
    }

    /*form styling on desktop*/




    article{
      margin-top: 100px;
      background-image:url('https://res.cloudinary.com/jferson1089/image/upload/v1584248367/Screen_Shot_2020-03-15_at_12.56.55_AM_olxnia.png');
      height:400px;
      background-size: cover;
    }
    form {
      margin-top:100px;
      
      display:flex;
      flex-direction:column;
      width: 40%;
      justify-content:center;
      align-items:center;
      border:0px solid #cccccc;
      box-shadow:none;
      border-radius:3px;
      height:25%;
    }
    
    form h2{
      color:white;
    }
    

    button{
      width:60%;
      height:40px;
      display:flex;
      justify-content:center;
      font-size: 18px;
     
      background-color:#F59817;
      border:none;
    }



  
  }
/* tablet media query*/
  @media (min-width:700px){

  slideBox{
    width:100%;
    
  }
  img{
    width:100%;
  }

  aside{
    height:150px;
  }


  .desktop{
    display:none;
  }
}