*{
    border: 1px solid black;
    
  }
  
  body {
    font-family: 'Abel', sans-serif;
    
    height:1000px;
  /*   border: 1px solid; */
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat( 1fr)auto;
    grid-template-rows: repeat(6fr)  ;
  grid-template-areas:
    "header"
    "main"
    "section1"
    'section1'
    "section2"
    "article"
    "footer";
    
  }
  
  ul{
   display: flex;
    width: 100%;
    letter-spacing:3px;
     
  }
  
  li{
    align-items: space-between;
    width:25%;
    list-style:none;
  }
  
  
  .head{
    width:100%;
    height:2px;
    background-color: #FDA22E;
    
  }
  nav{
    margin: auto 0;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    letter-spacing:6px;
    
  }
  h1{
    width:100%;
    text-align:center;
   
  }

  form {
    display:flex;
    flex-direction:column;
    width: 60%;
    justify-content:center;
    align-items:center;
    border:1px solid #cccccc;
    box-shadow: 1px 1px 1px 1px #cccccc;
    border-radius:3px;
  }
  
  button{
    width:60%;
    height:40px;
    display:flex;
    justify-content:center;
    font-size: 18px;
   
    background-color:#B4B990;
    border:none;
  }
  
  article {
    display:flex;
    justify-content:center;
    
  }
  
  input{
    margin:15px;
    height:20px;
    width:60%;
  }
  
  .textbox{
    height:100px;
    
  }



  /*Grid Layout*/
  header {
    grid-area:header;
   
  }
  
  aside{
    background-color:rgba(255,255,255, 0.8);
    margin:35px;
    padding:15px;
  }
  
  a{
    text-decoration:none;
    link-style:none;
    
  }
  
  
  main{
    grid-area: main;
    background-image:url('https://res.cloudinary.com/jferson1089/image/upload/v1583656267/Screen_Shot_2020-03-08_at_4.30.06_AM_srr5j3.png');
    background-size:cover;
    background-repeat:no-repeat;
  }
.section1{
    grid-area:section1;  
  }
.section2{
    grid-area:section2;
  }
article{
    grid-area:article;
  }
footer{
    grid-area:footer;
  }
  
  
  
  
  
  @media (min-width: 900px){
  body {
    height:1000px;
  /*   border: 1px solid; */
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr) auto ;
    grid-template-rows: auto repeat(5, 1fr) auto ;
  grid-template-areas:
    "header header"
    "main main"
    "article section1"
    "article section2"
    "footer footer";
  }
  
    nav{
      display:flex;
     margin: auto 0;
      flex-wrap:nowrap;
      
    }
    h1{
      width:30%;
      text-align:left;
     
    }
  
    li{
      width:25%;
      text-align:right;
    
      
    }
    ul{
      display:flex;
      width:100%;
    }
    main{
    background-position:center;
    background-size:cover;
    height: 300px;
      display:flex;
      justify-content:flex-end;
    }
  
    aside{
      flex-direction:right;
      width:400px;
    }
    
  
  }